doctype html
html(lang='en')
	head
		link(rel="icon" type="image/x-icon" href="/images/logo.png")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Theology 103
		meta(name="title" property="og:title" content="Theology 103")
		meta(name="title" property="twitter:title" content="Theology 103")
		meta(name="description" property="og:description" content="Note about week 2 of Theology 103 course.")
		meta(name="description" property="twitter:description" content="Note about week 2 of Theology 103 course.")
		meta(name="image" property="og:image" content="https://www.devontaereid.com/images/bible-icon.png")
		meta(name="image" property="twitter:image" content="https://www.devontaereid.com/images/bible-icon.png")
		meta(property="twitter:card" content="summary_large_image")
		meta(property="twitter:site" content="@_yodev_")
		meta(property="og:url" content="https://www.devontaereid.com")
		meta(property="og:type" content="website")
		link(rel="stylesheet" href="/style.css")
	body
		div#nav-bar.navbar.header-content--mini
			nav
				div.main-menu
					a.menu-branding(href="/")
						img.menu-branding(src="/images/logo.png" alt="branding-logo")
						h3 Devontae Reid
					ul.menu-list
						li
							a(href="/projects") Projects
						li
							a(href="/articles") Articles
						li
							a(href="/gospel") Gospel
						li
							button.display-switch ☀️
		div.post-body
			article.button#post-container
			div.post-header-container
				div.post-header-details
					h1#post-header-title Theology 103
					div.post-header-meta
						img.post-header-icon(src="https://i.ibb.co/HY4dx9s/headshot.jpg" alt="headshot")
						p.post-header-time Monday, January 24, 2022
						span.post-header-divider |
						p#post-read-time
						button.post-header-shareButton#shareButton
							span.post-header-shareButton-icon
								img(src="/images/share_icon.png" alt="share_icon")
								.
									Share
					div.post-header-tags
							span.post-header-tag Theology
							span.post-header-tag Christ
							span.post-header-tag Sin
				img.post-header-image(src="/images/bible-icon.png" alt="bible-icon")
			div.post-content
				div.post-section-container#week-3-humans-and-sin-angels-and-demons
					h2.section-title Week 3: Humans and Sin, Angels and Demons
					div.post-image-container
						a.post-image-container(href="https://i.ibb.co/563qGkX/biblical-doctrine-cover-half.jpg")
							img.post-image(src="https://i.ibb.co/563qGkX/biblical-doctrine-cover-half.jpg" alt="biblical-doctrine")
						figcaption.post-image-caption MacArthur/Mayhue Biblical Doctrine
					p.post-details Since the enlightenment, humans have thought of themselves as inherently "good".
					p.post-details These are the following learning that I was grateful to learn about this week in my study on humans and sin: 
					ol
						li.post-list-item Anthropology helps me with understanding who I am as a person. This answers the question of why we all are here.
						li.post-list-item Anthropology also helps with dealing with the time such as what Charles Spurgen dealt with evolution starting with Charles Darwin. This is where I am happy to learn about sudden creationism
						li.post-list-item I noticed while going through Genesis 1 were the terms created, made, and formed. This was eye opening because I sometimes can gloss over these terms while reading and miss God's magnificent glory in creation
						li.post-list-item Imago Dei is a unique difference that we humans possess that all other creatures and animals don't possess. We are his representation not in the divine sense, but in the sense of the Trinitrian nature how we live in relationship with others
						li.post-list-item Our conscience can get overridden by lies and errors which in turn misinforms the conscience
						li.post-list-item Scripture seems to support dichotomy and trichotomy where sometimes soul and spirit are interchangeable and other times they are not so interchangeable, but mean different things
						li.post-list-item Creationism argument when it comes to the origin of the soul fails to understand that Adam creation is a unique creation, so using him for the argument that both the soul and body were created at the same time is wrong.
						li.post-list-item Deut. 22:5 supports that God expects that said person to live according to the gender He granted them at birth
						li.post-list-item After the creatures were created God seemed to still create Adam a helper, so we see that the creatures and animals weren't suitable for him
						li.post-list-item Homosexual unions cannot be rightly seen as marriages because it goes against God meaning for marriage: 
							ul.sublist
								li.post-sublist-item He create man and seen that man needed a companion and this companion must fulfill His command to procreate
						li.post-list-item Ex. 21:22-25 presents a strong case for life starting in the womb because of the severity of the punishment if the child in the mother is harmed.
						li.post-list-item The soul/spirit lives in an intermediate state between death and bodily resurrection
					p.post-details I still have questions on the following: 
					ol
						li.post-list-item Can one human constitution affect another human constitution?
						li.post-list-item Similar to man initial command and go and fill the earth which they disobey which led to Gen. 11 in which they gathered in one place; is our command to go and make disciples of all nations can we be disobedient if we stick to trying to make disciples and our household and extended families?
						li.post-list-item When talking about the role of government, is it wrong to disobey when they constitute something as being wrong such as the latest Canadian bill even though they are in place to punish people who do wrong?
		.footer
			.footer-container
				p Sola Scriptura ( Scripture Alone ), Solus Christus ( Christ Alone ), Sola fide ( Faith Alone ), Sola Gratia ( Grace Alone ), and Soli Deo Gloria ( Glory to God Alone )
				.socials
					ul
						li.social-links
							a(href="https://www.linkedin.com/in/devontaereid/")
								img(src="/images/websites/linkedin.png")
						li.social-links
							a(href="https://twitter.com/_yodev_")
								img(src="/images/websites/twitter.png")
						li.social-links
							a(href="https://github.com/y0dev")
								img(src="/images/websites/github.png")
				p.footer-small Icons provided by 
					a(href="https://www.flaticon.com/authors/freepik" title="Freepik") Freepik
		script(type="text/javascript" src="/scripts/main.js")
		script(type="text/javascript" src="https://static.esvmedia.org/crossref/crossref.min.js")
