doctype html
html(lang='en')
	head
		link(rel="icon" type="image/x-icon" href="/images/logo.png")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Parenting with Few Rules | Doug Wilson
		meta(name="title" property="og:title" content="Parenting with Few Rules | Doug Wilson")
		meta(name="title" property="twitter:title" content="Parenting with Few Rules | Doug Wilson")
		meta(name="description" property="og:description" content="Blog post about parenting as a Christian with few rules from Doug Wilson podcast.")
		meta(name="description" property="twitter:description" content="Blog post about parenting as a Christian with few rules from Doug Wilson podcast.")
		meta(name="image" property="og:image" content="https://www.devontaereid.com/images/family.png")
		meta(name="image" property="twitter:image" content="https://www.devontaereid.com/images/family.png")
		meta(property="twitter:card" content="summary_large_image")
		meta(property="twitter:site" content="@_yodev_")
		meta(property="og:url" content="https://www.devontaereid.com")
		meta(property="og:type" content="website")
		link(rel="stylesheet" href="/style.css")
	body
		div#nav-bar.navbar.header-content--mini
			nav
				div.main-menu
					a.menu-branding(href="/")
						img.menu-branding(src="/images/logo.png" alt="branding-logo")
						h3 Devontae Reid
					ul.menu-list
						li
							a(href="/projects") Projects
						li
							a(href="/articles") Articles
						li
							a(href="/gospel") Gospel
						li
							button.display-switch ☀️
		div.post-body
			article.button#post-container
			div.post-header-container
				div.post-header-details
					h1#post-header-title Parenting with Few Rules | Doug Wilson
					div.post-header-meta
						img.post-header-icon(src="https://i.ibb.co/HY4dx9s/headshot.jpg" alt="headshot")
						p.post-header-time Wednesday, August 11, 2021
						span.post-header-divider |
						p#post-read-time
						button.post-header-shareButton#shareButton
							span.post-header-shareButton-icon
								img(src="/images/share_icon.png" alt="share_icon")
								.
									Share
					div.post-header-tags
							span.post-header-tag Parenting
							span.post-header-tag Christ
							span.post-header-tag Children
				img.post-header-image(src="/images/family.png" alt="parenting-img")
			div.post-content
				div.post-section-container#is-it-that-simple
					h2.section-title Is it That Simple?
					div.post-image-container
						a.post-image-container(href="https://i.ytimg.com/vi/6S4LCPI9wk4/maxresdefault.jpg")
							img.post-image(src="https://i.ytimg.com/vi/6S4LCPI9wk4/maxresdefault.jpg" alt="doug-wilson-parenting")
						figcaption.post-image-caption Fewer Rules in Parenting? | Doug Wilson
					p.post-details As being a new father I felt like this video was very helpful for setting ground rules for my kids as they grow up. You may think that if you have too many rules or your too lenient, but there is a way that one is ought to parent. If we want to be parents that live obedient to Christ as we raise our children while at the same time not being a helicopter parent.
					p.post-details A video came up on my timeline from Pastor Doug Wilson of Christ Church in Moscow, Idaho. He speaks on being a parent who doesn't have so many rules and the reason why. He speaks on why as parents we shouldn't over complicate things for our children while at the same time teaching our children to think on their own when it comes to subject matters on what is right vs wrong. These rules not only established ground with you and your child, but also allows your child to critical think.
					p.post-details Three Rules to Live by as a Parent: 
					ul
						li.post-list-item No lying
						li.post-list-item No disobedience
						li.post-list-item No disrespecting your mother
					p.post-details You can find the video on Youtube at the following 
						a.post-link(href="https://youtu.be/6S4LCPI9wk4") Fewer Rules in Parenting? | Doug Wilson
						.
							.
		.footer
			.footer-container
				p Sola Scriptura ( Scripture Alone ), Solus Christus ( Christ Alone ), Sola fide ( Faith Alone ), Sola Gratia ( Grace Alone ), and Soli Deo Gloria ( Glory to God Alone )
				.socials
					ul
						li.social-links
							a(href="https://www.linkedin.com/in/devontaereid/")
								img(src="/images/websites/linkedin.png")
						li.social-links
							a(href="https://twitter.com/_yodev_")
								img(src="/images/websites/twitter.png")
						li.social-links
							a(href="https://github.com/y0dev")
								img(src="/images/websites/github.png")
				p.footer-small Icons provided by 
					a(href="https://www.flaticon.com/authors/freepik" title="Freepik") Freepik
		script(type="text/javascript" src="/scripts/main.js")
		script(type="text/javascript" src="https://static.esvmedia.org/crossref/crossref.min.js")
