doctype html
html(lang='en')
	head
		link(rel="icon" type="image/x-icon" href="/images/logo.png")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Getting Started with Docker
		meta(name="title" property="og:title" content="Getting Started with Docker")
		meta(name="title" property="twitter:title" content="Getting Started with Docker")
		meta(name="description" property="og:description" content="Blog post about Learn how to get started with Docker with this helpful article! It covers the basics of installation and usage, and provides tips for creating and running containers..")
		meta(name="description" property="twitter:description" content="Blog post about Learn how to get started with Docker with this helpful article! It covers the basics of installation and usage, and provides tips for creating and running containers..")
		meta(name="image" property="og:image" content="https://www.devontaereid.com/images/docker.png")
		meta(name="image" property="twitter:image" content="https://www.devontaereid.com/images/docker.png")
		meta(property="twitter:card" content="summary_large_image")
		meta(property="twitter:site" content="@_yodev_")
		meta(property="og:url" content="https://www.devontaereid.com")
		meta(property="og:type" content="website")
		link(rel="stylesheet" href="/style.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/normalize-whitespace/prism-normalize-whitespace.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-docker.min.js")
	body
		div#nav-bar.navbar.header-content--mini
			nav
				div.main-menu
					a.menu-branding(href="/")
						img.menu-branding(src="/images/logo.png" alt="branding-logo")
						h3 Devontae Reid
					ul.menu-list
						li
							a(href="/projects") Projects
						li
							a(href="/articles") Articles
						li
							a(href="/gospel") Gospel
						li
							button.display-switch ☀️
		div.post-body
			article.button#post-container
			div.post-header-container
				div.post-header-details
					h1#post-header-title Getting Started with Docker
					div.post-header-meta
						img.post-header-icon(src="https://i.ibb.co/HY4dx9s/headshot.jpg" alt="headshot")
						p.post-header-time Saturday, November 05, 2022
						span.post-header-divider |
						p#post-read-time < 1 min
						button.post-header-shareButton#shareButton
							span.post-header-shareButton-icon
								img(src="/images/share_icon.png" alt="share_icon")
								.
									Share
					div.post-header-tags
							span.post-header-tag Technology
							span.post-header-tag Docker
				img.post-header-image(src="/images/docker.png" alt="docker-image")
			div.post-content
				div.post-section-container#initial-steps-to-running-docker
					h2.section-title Initial Steps to Running Docker
					div.post-image-container
						a.post-image-container(href="/images/articles/docker_image.png")
							img.post-image(src="/images/articles/docker_image.png" alt="docker")
						figcaption.post-image-caption Docker @ Resource from Docker Website
					p.post-details The lightweight development platform that we should all use as developers is Docker. What is Docker? Well, Docker is a software platform for building applications based on containers. Containers are small and lightweight execution environments that make shared use of the operating system kernel but otherwise run in isolation from one another. What is the difference between an image and a container? An image is a portable, read-only, executable file containing the instructions for creating a container. This image gets created using a dockerfile. What is also included in these instructions are operating system, languages, environmental variables, file locations, network ports, and any other components it needs to run.
					p.post-details If you have installed docker on your pc or mac. The steps to run a docker container are as follows: 
					ol
						li.post-list-item Create a docker
						li.post-list-item
							| Build docker image " docker build -t 
							span.user-define-code image
							| "
						li.post-list-item
							| Run the docker container " docker run --name 
							span.user-define-code container_name image
							| "
						li.post-list-item
							| Stop container "docker stop 
							span.user-define-code container_name
							| "
						li.post-list-item List running containers "docker ps -a"
					p.post-details Creating a dockerfile and building and running it. Here's an example of a basic dockerfile 
						div.code-snippet-container
							div.code-snippet-header
								h5.code-snippet-title docker_file
								button.copy-bttn
									img.copy-icon(src="/images/copy-icon.png")
							div.code-snippet-body
								pre
									code.code-body.language-docker
										| # Parent Image: Software and version
										| FROM python:3
										| WORKDIR /Users/user_directory/docker/textblob
										| COPY requirements.txt ./
										| RUN pip install --no-cache-dir -r requirements.txt
										| # First dot is relative file path where dockerfile resides
										| # Second dot is the root directory
										| COPY . .
										| CMD [ "python", "./main.py" ]
		.footer
			.footer-container
				p Sola Scriptura ( Scripture Alone ), Solus Christus ( Christ Alone ), Sola fide ( Faith Alone ), Sola Gratia ( Grace Alone ), and Soli Deo Gloria ( Glory to God Alone )
				.socials
					ul
						li.social-links
							a(href="https://www.linkedin.com/in/devontaereid/")
								img(src="/images/websites/linkedin.png")
						li.social-links
							a(href="https://twitter.com/_yodev_")
								img(src="/images/websites/twitter.png")
						li.social-links
							a(href="https://github.com/y0dev")
								img(src="/images/websites/github.png")
				p.footer-small Icons provided by 
					a(href="https://www.flaticon.com/authors/freepik" title="Freepik") Freepik
		script(type="text/javascript" src="/scripts/main.js")
		script(type="text/javascript" src="/scripts/code_script.js")
		script(type="text/javascript" src="https://static.esvmedia.org/crossref/crossref.min.js")
