doctype html
html(lang='en')
	head
		link(rel="icon" type="image/x-icon" href="/images/logo.png")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Why am I Presbyterian
		meta(name="title" property="og:title" content="Why am I Presbyterian")
		meta(name="title" property="twitter:title" content="Why am I Presbyterian")
		meta(name="description" property="og:description" content="Blog post about Many in the reformed camp seemed to be either Baptist or Presbyterian. This is article is to show my view in Reformed Theology..")
		meta(name="description" property="twitter:description" content="Blog post about Many in the reformed camp seemed to be either Baptist or Presbyterian. This is article is to show my view in Reformed Theology..")
		meta(name="image" property="og:image" content="https://www.devontaereid.com/images/bible-icon.png")
		meta(name="image" property="twitter:image" content="https://www.devontaereid.com/images/bible-icon.png")
		meta(property="twitter:card" content="summary_large_image")
		meta(property="twitter:site" content="@_yodev_")
		meta(property="og:url" content="https://www.devontaereid.com")
		meta(property="og:type" content="website")
		link(rel="stylesheet" href="/style.css")
	body
		div#nav-bar.navbar.header-content--mini
			nav
				div.main-menu
					a.menu-branding(href="/")
						img.menu-branding(src="/images/logo.png" alt="branding-logo")
						h3 Devontae Reid
					ul.menu-list
						li
							a(href="/projects") Projects
						li
							a(href="/articles") Articles
						li
							a(href="/gospel") Gospel
						li
							button.display-switch ☀️
		div.post-body
			article.button#post-container
			div.post-header-container
				div.post-header-details
					h1#post-header-title Why am I Presbyterian
					div.post-header-meta
						img.post-header-icon(src="https://i.ibb.co/HY4dx9s/headshot.jpg" alt="headshot")
						p.post-header-time Saturday, March 04, 2023
						span.post-header-divider |
						p#post-read-time
						button.post-header-shareButton#shareButton
							span.post-header-shareButton-icon
								img(src="/images/share_icon.png" alt="share_icon")
								.
									Share
					div.post-header-tags
							span.post-header-tag Christ
							span.post-header-tag Covenant
							span.post-header-tag Reformed
							span.post-header-tag Gospel
				img.post-header-image(src="/images/bible-icon.png" alt="bible-icon")
			div.post-content
				div.post-section-container#why-am-i-presbyterian
					h2.section-title Why am I Presbyterian
					p.post-details There is an endless debate on covenant membership. Who is a part of the covenant and who is not? This question is a good question to cause you to search the scriptures for answers. I would start from Genesis and end in Revelation. 
		.footer
			.footer-container
				p Sola Scriptura ( Scripture Alone ), Solus Christus ( Christ Alone ), Sola fide ( Faith Alone ), Sola Gratia ( Grace Alone ), and Soli Deo Gloria ( Glory to God Alone )
				.socials
					ul
						li.social-links
							a(href="https://www.linkedin.com/in/devontaereid/")
								img(src="/images/websites/linkedin.png")
						li.social-links
							a(href="https://twitter.com/_yodev_")
								img(src="/images/websites/twitter.png")
						li.social-links
							a(href="https://github.com/y0dev")
								img(src="/images/websites/github.png")
				p.footer-small Icons provided by 
					a(href="https://www.flaticon.com/authors/freepik" title="Freepik") Freepik
		script(type="text/javascript" src="/scripts/main.js")
		script(type="text/javascript" src="https://static.esvmedia.org/crossref/crossref.min.js")
