doctype html
html(lang='en')
	head
		link(rel="icon" type="image/x-icon" href="/images/logo.png")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Theology 102
		meta(name="title" property="og:title" content="Theology 102")
		meta(name="title" property="twitter:title" content="Theology 102")
		meta(name="description" property="og:description" content="Note about week 6 of Theology 102 course.")
		meta(name="description" property="twitter:description" content="Note about week 6 of Theology 102 course.")
		meta(name="image" property="og:image" content="https://www.devontaereid.com/images/bible-icon.png")
		meta(name="image" property="twitter:image" content="https://www.devontaereid.com/images/bible-icon.png")
		meta(property="twitter:card" content="summary_large_image")
		meta(property="twitter:site" content="@_yodev_")
		meta(property="og:url" content="https://www.devontaereid.com")
		meta(property="og:type" content="website")
		link(rel="stylesheet" href="/style.css")
	body
		div#nav-bar.navbar.header-content--mini
			nav
				div.main-menu
					a.menu-branding(href="/")
						img.menu-branding(src="/images/logo.png" alt="branding-logo")
						h3 Devontae Reid
					ul.menu-list
						li
							a(href="/projects") Projects
						li
							a(href="/articles") Articles
						li
							a(href="/gospel") Gospel
						li
							button.display-switch ☀️
		div.post-body
			article.button#post-container
			div.post-header-container
				div.post-header-details
					h1#post-header-title Theology 102
					div.post-header-meta
						img.post-header-icon(src="https://i.ibb.co/HY4dx9s/headshot.jpg" alt="headshot")
						p.post-header-time Sunday, December 12, 2021
						span.post-header-divider |
						p#post-read-time
						button.post-header-shareButton#shareButton
							span.post-header-shareButton-icon
								img(src="/images/share_icon.png" alt="share_icon")
								.
									Share
					div.post-header-tags
							span.post-header-tag Theology
							span.post-header-tag Christ
							span.post-header-tag God
				img.post-header-image(src="/images/bible-icon.png" alt="bible-icon")
			div.post-content
				div.post-section-container#christology-pt2
					h2.section-title CHRISTOLOGY PT.2
					div.post-image-container
						a.post-image-container(href="https://i.ibb.co/563qGkX/biblical-doctrine-cover-half.jpg")
							img.post-image(src="https://i.ibb.co/563qGkX/biblical-doctrine-cover-half.jpg" alt="biblical-doctrine")
						figcaption.post-image-caption MacArthur/Mayhue Biblical Doctrine
					p.post-details These are the following learning that I was grateful to learn about this week: 
					ol
						li.post-list-item Doxologies of the NT ascribe the same glory and honor to Christ as was the commonality to ascribe to God in the OT (1 Chr. 29:10-11;1 Pet. 4:11;2 Pet. 3:18)
						li.post-list-item Jesus instructs His disciples to pray to Him(Jh. 14:14;15:16;16:23-24) and we look at those passage we see that He describes Himself as our mediator between God and man
						li.post-list-item Christ in emptying Himself in Phil. 2 did not empty Himself of His deity, but rather emptying by addition, not subtraction, by becoming man
						li.post-list-item The Son of God fully possessed His divine nature, attributes, and prerogatives, he did not fully express them. They were veiled to be revealed by Him when he wanted
						li.post-list-item Christ surrender the glories from which He came, from being worshipped by saints and angels to mocked by men
						li.post-list-item Both Jesus's divine nature and human nature possesses their own will. (Jh. 17:24) His divine will; (Mat. 26:39) His human will
						li.post-list-item His limited knowledge such as in passage like Mark 13 is a result of His voluntary surrender of the independent use of His divine attributes
						li.post-list-item Jesus was baptized in order to fulfill the Father's will. He in turned identified Himself with sinners to ultimately bear their sins
						li.post-list-item Jesus veiling the truth in parables acted as both judgement and mercy for the hearers. Judgement because it kept them in darkness and mercy because He grant them to see the light of God
						li.post-list-item God prepared mankind for the atoning substitutionary sacrifice;of Christ by providing the instructions about sacrifice
						li.post-list-item The display of Jesus's glory is most often associated with His second advent, not His resurrection
						li.post-list-item Glory in the minds of the prophets and apostles were mostly associated with Christ's resurrection
						li.post-list-item The believers resurrection they share in the same glory
						li.post-list-item Every believer is ultimately accountable to him (1 Cor. 3:10-15) which motivates us to please God
						li.post-list-item At the fullness of time, God will gather together believers in the millennial kingdom
						li.post-list-item The real glory of eternity is when believers will reside in the presence of the Lord
					p.post-details I still have questions on the following: 
					ol
						li.post-list-item Is this denial from this British monk the reason why so many believe in free will?
						li.post-list-item In understanding the a-mil or post-mil position on the end times, how can it be that the man of lawlessness isn't literally or has already come and deceived?
						li.post-list-item Why was the woman promised the coming seed that would reverse the curse?
						li.post-list-item Why did God not destroy all man again as he did in the flood even though man remained sinful as we see even Noah was sinful?
		.footer
			.footer-container
				p Sola Scriptura ( Scripture Alone ), Solus Christus ( Christ Alone ), Sola fide ( Faith Alone ), Sola Gratia ( Grace Alone ), and Soli Deo Gloria ( Glory to God Alone )
				.socials
					ul
						li.social-links
							a(href="https://www.linkedin.com/in/devontaereid/")
								img(src="/images/websites/linkedin.png")
						li.social-links
							a(href="https://twitter.com/_yodev_")
								img(src="/images/websites/twitter.png")
						li.social-links
							a(href="https://github.com/y0dev")
								img(src="/images/websites/github.png")
				p.footer-small Icons provided by 
					a(href="https://www.flaticon.com/authors/freepik" title="Freepik") Freepik
		script(type="text/javascript" src="/scripts/main.js")
		script(type="text/javascript" src="https://static.esvmedia.org/crossref/crossref.min.js")
