doctype html
html(lang='en')
	head
		link(rel="icon" type="image/x-icon" href="/images/logo.png")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title Theology 102
		meta(name="title" property="og:title" content="Theology 102")
		meta(name="title" property="twitter:title" content="Theology 102")
		meta(name="description" property="og:description" content="Note about week 4 of Theology 102 course.")
		meta(name="description" property="twitter:description" content="Note about week 4 of Theology 102 course.")
		meta(name="image" property="og:image" content="https://www.devontaereid.com/images/bible-icon.png")
		meta(name="image" property="twitter:image" content="https://www.devontaereid.com/images/bible-icon.png")
		meta(property="twitter:card" content="summary_large_image")
		meta(property="twitter:site" content="@_yodev_")
		meta(property="og:url" content="https://www.devontaereid.com")
		meta(property="og:type" content="website")
		link(rel="stylesheet" href="/style.css")
	body
		div#nav-bar.navbar.header-content--mini
			nav
				div.main-menu
					a.menu-branding(href="/")
						img.menu-branding(src="/images/logo.png" alt="branding-logo")
						h3 Devontae Reid
					ul.menu-list
						li
							a(href="/projects") Projects
						li
							a(href="/articles") Articles
						li
							a(href="/gospel") Gospel
						li
							button.display-switch ☀️
		div.post-body
			article.button#post-container
			div.post-header-container
				div.post-header-details
					h1#post-header-title Theology 102
					div.post-header-meta
						img.post-header-icon(src="https://i.ibb.co/HY4dx9s/headshot.jpg" alt="headshot")
						p.post-header-time Friday, November 26, 2021
						span.post-header-divider |
						p#post-read-time
						button.post-header-shareButton#shareButton
							span.post-header-shareButton-icon
								img(src="/images/share_icon.png" alt="share_icon")
								.
									Share
					div.post-header-tags
							span.post-header-tag Theology
							span.post-header-tag Trinity
							span.post-header-tag God
				img.post-header-image(src="/images/bible-icon.png" alt="bible-icon")
			div.post-content
				div.post-section-container#the-trinity
					h2.section-title The Trinity
					div.post-image-container
						a.post-image-container(href="https://i.ibb.co/563qGkX/biblical-doctrine-cover-half.jpg")
							img.post-image(src="https://i.ibb.co/563qGkX/biblical-doctrine-cover-half.jpg" alt="biblical-doctrine")
						figcaption.post-image-caption MacArthur/Mayhue Biblical Doctrine
					p.post-details These are the following learning that I was grateful to learn about this week: 
					ol
						li.post-list-item The trinity is a doctrine stating that God is absolutely and eternally one essence subsisting in three distinct and ordered persons without any division or replication
						li.post-list-item The trinity is defined using negative statements which is known as apophatic theology
						li.post-list-item Division and replication both results in three gods which the Trinity is not stating in their definition 
							ul.sublist
								li.post-sublist-item This will lead into many heresies hence the reasons of the cults of old and today
								li.post-sublist-item Each person of the trinity possess equally the full and divine essence of God
						li.post-list-item Modes of subsistence reveals the personal properties that distinguish each member of the Trinity 
							ul.sublist
								li.post-sublist-item Father, Son, and Holy Spirit
						li.post-list-item These relationships establish a definite order within the Trinity, so with respect to relationship ONLY not essence or glory. (1. Father, 2. Son, 3. Holy Spirit)
						li.post-list-item Psalm 45:6-7 refers to the Messiah as "God" and is enthroned, having been anointed by "God"
						li.post-list-item New Testament writer identify that Jesus is the Lord that the psalmist is speaking of in Psalm 110:1 
							ul.sublist
								li.post-sublist-item The Son is both elohim and adonai
								li.post-sublist-item The Shema in Deuteronomy 6:7 allows for a plurality in God
						li.post-list-item The word one in the Hebrew "ekhad" affirms God's unity while also allowing for plurality. Gen 2:24 is a example "one" flesh even though there is two people
						li.post-list-item OT presents the angel of Yahweh as Yahweh and also distinct from Yahweh 
							ul.sublist
								li.post-sublist-item (Ex. 23:20-23) Yahweh sent the angel of Yahweh
								li.post-sublist-item Wisdom may be depicted as a distinct entity, but NT writers speak of Christ as "the wisdom of God"
						li.post-list-item Scripture presents a emphasis on the number three such as the seraphim in (Isa. 6:3)
						li.post-list-item (Isa. 48:12-16) This passage from the Old Testament presents at least two distinct entities
						li.post-list-item The early church saw the threefold blessing as an indication as three persons of the Trinity
						li.post-list-item During the great commission Jesus told His disciples to baptize in the "name" which is singular 
							ul.sublist
								li.post-sublist-item cf. Mat. 28:19
		.footer
			.footer-container
				p Sola Scriptura ( Scripture Alone ), Solus Christus ( Christ Alone ), Sola fide ( Faith Alone ), Sola Gratia ( Grace Alone ), and Soli Deo Gloria ( Glory to God Alone )
				.socials
					ul
						li.social-links
							a(href="https://www.linkedin.com/in/devontaereid/")
								img(src="/images/websites/linkedin.png")
						li.social-links
							a(href="https://twitter.com/_yodev_")
								img(src="/images/websites/twitter.png")
						li.social-links
							a(href="https://github.com/y0dev")
								img(src="/images/websites/github.png")
				p.footer-small Icons provided by 
					a(href="https://www.flaticon.com/authors/freepik" title="Freepik") Freepik
		script(type="text/javascript" src="/scripts/main.js")
		script(type="text/javascript" src="https://static.esvmedia.org/crossref/crossref.min.js")
